/* mobile responsive */

@media screen and (max-width:425px) {
    .nav-container {

        flex-direction: column;
        height: 240px;
        align-items: center;

    }

    .nav-item-container {
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: center;
        

    }

    .bannar-container {
        flex-direction: column;
        align-items: center;
    }

    .online-game {
        flex-direction: column;
        align-items: center;
    }

    .box {
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: center;
        
    }

    .Play-Instantly {
        
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: center;
       
    }
    .all-btn {

        margin-top: 50px;
        width: 1920px;
        height: 427px;
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
      
    
    }



}