/* mobile responsive */

@media screen and (max-width:425px) {
    .nav-container {

        flex-direction: column;
        height: 240px;
        align-items: center;
        margin-right: 240px;

    }

    .game-header {

        align-items: center;
        margin-right: 250px;
        gap: 20px;
    }

    .nav-item-container {
        flex-direction: column;
        width: auto;
        height: auto;
        align-items: center;
        margin-left: 200px;
        gap: 5px;
    }

    .bannar-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-text {
        margin-left: 440px;
    }

    .bannar-img {
        margin-left: 240px;
    }

    .online-game {
        text-align: center;
        height: 2250px;

    }

    .box {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 680px;
    }

    .Play-Instantly {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .Play-Instantly-text {
        margin-right: 900px;
    }

    .Play-Instantly-images {
        margin-left: 500px;
    }

    .all-btn {
        display: grid;
        grid-template-columns: repeat(3,1fr);
       
    }



}