/* nav section */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    width: 1920px;
    height: 100px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}


.game-header {
    display: flex;
    align-items: center;
    margin-left: 200px;
    gap: 20px;
}

.nav-image {
    width: 86.041px;
    height: 40px;

}

.nav-title {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

span {
    color: rgb(241, 86, 182);
}

.nav-item-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;



}

.nav-item-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;



}

.followus-btn {
    display: flex;
    text-align: center;
    border-radius: 8px;
    background: rgba(128, 124, 138, 0.1);
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 160px;
    height: 40px;
    border-radius: 8px;
    row-gap: .5rem;
}

.nav-img {
    width: 1.4rem;
    height: 24px;
    padding-left: 5px;
}

/* bannar section */

.bannar-container {
    border: 5px solid salmon;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 240px 0;
}

.banner-text {
    text-align: center;
}

.banner-p {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 20px;
    border: 1px solid salmon;


}

.banner-text h1 {

    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 20px;
    border: 1px solid salmon;
}

.icon-text {
    color: #534C64;
    border: 1px solid salmon;

    align-items: flex-end;

}

.icon {
    color: #534C64;
}

.banner-button1 {}

/* online funny game section */
.online-game {
    text-align: center;
    width: 1920px;
    height: 1080px;
    border: 1px solid salmon;

}

.box-img {
    display: flex;
    width: 50%;
    height: 50%;
    padding-left: 100px;
    padding-right: 140px;
}
.box-img :hover{
    color: #3C354F;
}